<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ison Example Tests with ReportNG" thread-count="3" verbose="1" annotations="JDK">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

	<test name="BasePageExampleTest" junit="false" preserve-order="true">
		<parameter name="profile" value="${firefox.profile}" />
		<packages>
    		<package name="com.levi9.ison.FoodOrdersISON.core" />
  		</packages>
	</test>
</suite>